@model Directory.Models.Person


<div class="container">
    <div class="col-md-9">
        <h5 class="card-header">@Model.Description</h5>
        <br />
        
        <a class="btn btn-warning" asp-controller="Person" asp-action="Index">Get Back</a>
    </div>
</div>